* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

main{
  background-color: black;
}

.main-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.conteudo {
  margin-right: 50px;
  width: 25%;
  display: flex;
  flex-direction: column;
}

.btn-boxes {
  display: flex;
  flex-direction: row;
}

.ig-button{
  margin-right: 50px;
}

.ig-button,
.git-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 79px;
  background-color: #22d4fd;
  font-weight: bold;
  border-radius: 1.6rem;
  font-size: 24px;
}

.ig-button:hover,
.git-button:hover {
  filter: brightness(0.85);
}

a {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 26px;
  text-decoration: none;
}

h1 {
  font-family: 'Krona One', sans-serif;
  color: #F6F6F6
}

strong{
  font-family: 'Krona One', sans-serif;
  font-size: 36px;
  color: #22D4FD
}

h1 {
  margin-bottom: 40px;
  font-size: 36px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #F6F6F6;
  font-size: 24px;
  margin-bottom: 51px
}